body {
    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    height: 100%;
    width: 100%;
    gap: 35px;
}

.ctr {
    width: 420px;
    text-align: center;
    align-content: center;
    color: white;
    height: 400px;
    border-radius: 20px;
    font-size: 20;
    font-weight: bold;
    box-shadow: 1 1 5 black;
    background-size: cover;
}

#SouthKorea {
    background-image: url(./City-of-Seoul_CJNattanai_Getty-Images-1.jpg);
}

#Tbilisi {
    background-image: url(./tbilisi.jpg);
}

#NewYork {
    background-image: url(New\ york.jpg);
}

#Paris {
    background-image: url(./paris.png);
}

#Tokyo {
    background-image: url(./Tokyo.png);
}

#Dubai {
    background-image: url(./Dubai.png);
}